body.dark {
	filter: invert(1) hue-rotate(180deg) brightness(.75) saturate(1.4);

}

@media(min-width: 1140px) {
	.dark-switch {
		position: absolute;
		right: 20px;
		opacity: .35;
	}
}

.bg-header-main .md\:ml-32 {
	margin-left: 24px;
}

.bg-header-main .mr-24 {
	margin-right: 18px;
}

.dark img,
.dark video,
.dark .ReactModal__Overlay,
.dark .bg-header-main {
	filter: invert(1) hue-rotate(180deg) brightness(1) saturate(.6)
}

.dark iframe,
.dark .article-ad-placeholder,
.dark [data-ad-type],
.dark [data-ad-position] {
	display: none;
}
