/* Invert entire site */
body.dark {
	filter: invert(1) hue-rotate(180deg) brightness(.75) saturate(1.4);
}

/* Toggle switch on large screens */
@media(min-width: 1140px) {
	.dark-switch {
		position: absolute;
		right: 20px;
		opacity: .3;
	}
	.dark-switch:hover {
		opacity: 1;
	}
}

/* Swap background colors */
.dark .bg-main, .dark .bg-negative { background: rgba(250,250,250,1); }
.dark .bg-positive { background: rgba(223,224,227,1); }

/* Adjust header margins to fit toggle switch */
.bg-header-main .md\:ml-32 { margin-left: 24px; }
.bg-header-main .mr-24 { margin-right: 18px; }

/* Revert inversions of the following elements */
.dark img,
.dark video,
.dark .ReactModal__Overlay,
.dark .bg-header-main {
	filter: invert(1) hue-rotate(180deg) brightness(1) saturate(.65)
}

/* Remove ads b/c they'd require some additional adjustments */
.dark iframe,
.dark .article-ad-placeholder,
.dark [data-ad-type],
.dark [data-ad-position] {
	display: none;
}
